.Navbar {
  border: 8px solid black;
  padding: 10px;
  margin-bottom: 1em;
  font-size: xx-large;
  width: 100%;
  /* height:6vh; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1em;
}

.Navbar button {
  border: 4px solid black;
  font-size: 1em;
  width: 6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dash-show-btn {
  margin-left: auto;
  /* font-size: 2em; */
}

@media screen and (orientation:landscape) and (max-width: 1024px){
}

@media screen and (orientation:portrait) {
}
